header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 9.009vh;
    padding: 1.126vh 0.546vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    font-family: 'Font1', Orbitron;

}

body {

    width: 100%;
    height: 100vh; 
    margin: 0 auto;
    padding: 0;
    overflow-y: hidden;

}

#logo {
    width: 3.273vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15%;
    margin-right: 0.546vw;
}

#hdrname {
    font-size: 1.43vw;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 0.273vw;
    
}


#aboutus {
    color: rgb(247, 243, 243);
    text-align: center;
    margin-left: auto;
    text-decoration: none;
    font-size: 1.245vw;
    
}

#container {
    
    margin-top: 9.009vh;
    overflow: hidden;
    max-width: 104.746vw;
    max-height: 121.622vh;
}

canvas {

    width: 100%;
    height: 100%;
    position: fixed;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px)
}

.login-container {
    z-index: 2;
    text-align: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10.911vw; 
    height: 11.261vh; 
}

button {
    background-color: rgb(24, 24, 24);
    color: white;
    border: none;
    padding: 1.689vh 1.746vw;
    text-align: center;
    font-size: 0.873vw;
    cursor: pointer;
    font-family: 'Font1', Orbitron;
    border-radius: 10px;

}

button:hover {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10%;
}

.text-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.text {
    color: white;
    font-size: 1.309vw;
    text-align: center;
    font-family: 'Font1', Orbitron;
}

.hidden {
    display: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-icon {
    width: 3.273vw;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 1; 
    transition: opacity 1.5s ease-in-out; 
}

.loader-container.hidden {
    opacity: 0; 
    pointer-events: none;
}

.music-control {
    position: fixed;
    bottom: 2.252vh;
    right: 1.091vw;
  }
  
  #toggleButton {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 100%;
    width: 3vw;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #toggleButton:hover {
    background-color: rgba(24, 24, 24, 0.3);
  }
  
  #playIcon{
    display: inline;
  }

  #pauseIcon {
    display: none;
  }
  
  #toggleButton.active #playIcon {
    display: none;
  }
  
  #toggleButton.active #pauseIcon {
    display: inline;
  }