body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("image/aboutus2.webp");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Font1', Orbitron;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.maincontainer {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 38.189vw;
    height: 52.928vh;
    max-width: 80%;
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    position: fixed;
    top: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

h1 {
    color: #fdfdfd;
    font-size: 3.819vw;
    font-weight: bold;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.309vw; 
    margin-top: -2.252vh; 
}

header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 9.009vh;
    padding: 1.126vh 0.546vw;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: 'Font1', Orbitron;

}

#logo {
    width: 3.273vw;
    background-color: rgb(0, 0, 0);
    border-radius: 15%;
    margin-right: 0.546vw;    
}

#hdrname {
    font-size: 1.43vw;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 0.273vw;
    
}

.hidden {
    display: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-icon {
    width: 3.273vw;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 1; 
    transition: opacity 1.5s ease-in-out; 
}

.loader-container.hidden {
    opacity: 0; 
    pointer-events: none;
}
